.sections{
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: rgb(144, 249, 246);
   font-family: sans-serif;
   flex-wrap: wrap;
}

.navbar {
    background-color: rgb(117, 176, 176);
    
    align-content: center;
    margin-bottom: 3.125rem;
}
.navbar header h1{
    align-items: center;
    justify-content: center;
}
.sections li {
   
    list-style: none;
    

}

.sections li {
   
    list-style: none;
    

}
.sections li a{
list-style: none;
color: rgb(42, 81, 81);

font-size: 1.5em;
}
h1{
    text-align: center;
    color: rgb(191, 171, 145);
    font-size: 3rem;
}

.product-list{
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center; 
   margin-bottom: 1.875rem;
   
  
  

    
   
}
.product-list .product{
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-list .product p{
    text-align: center;
    color: #3e4b56;
    font-weight: 200;
    font-family: serif;
    font-size: 1rem;

}
.product-list .product .price{
    color: rgb(225, 207, 106);
    font-size: 2rem;
}

main h2{
    text-align: center;
}
footer{
    background-color: black;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-content: center;
    height: 60px;
    font-size: 1rem;
}
.product-list img {
    width: 100%;
  height: auto;
  max-height: 300px;
    
    
}

.title{
    font-family: sans-serif;
    font-size: 2rem;
    color: rgb(55, 55, 18);
}

@media(max-width:767px){
    .product-list{
      
    flex-wrap: wrap;

}


}

@media(max-width:991px) {


.product-list{
    gap: 1.5rem;
}
    
}